h1, h2, h3, h4, h5, h6 {
  color: red;
  text-align: center;
}
h1 {
  font-size: 300%;
}
h2, h3, h4, h5, h6 {
  font-size: 240%;
}
p {
  font-size: 140%;
}
#h1{
  background-image: url(http://st.gde-fon.com/wallpapers_original/584253_tekstura_tsvet_oboi_tsarapinyi_fon_5184x3456_www.Gde-Fon.com.jpg);
}
#Ligne {
  text-align: center;
  color: white;
  border: solid 4px;
  background-image: url(http://iwallpapers.free.fr/upload/2011/12/26/20111226192102-3399f4a9.jpg);
  background-size: cover;
}
#GIT {
  text-align: center;
  color: white;
  border: solid 4px;
  background-image: url(http://hdlost.net/walls/textures-lava-other.jpg);
  background-size: cover;
}
#HTML {
  text-align: center;
  color: white;
  border: solid 4px;
  background-image: url(https://cdn.pixabay.com/photo/2015/10/15/21/31/texture-990096_1280.jpg);
  background-size: cover;
}
#Vhost {
  text-align: center;
  color: white;
  border: solid 4px;
  background-image: url(http://www.wallpaperup.com/uploads/wallpapers/2014/03/17/300810/a9e18b7e692b930df2a79752482296c5.jpg);
  background-size: cover;
}
#PHP {
  text-align: center;
  color: white;
  border: solid 4px;
  background-image: url(http://cdn29.us1.fansshare.com/images/grunge/grunge-texture-wallpapers-hd-free-abstract-images-grunge-wallpaper-1943649210.jpg);
  background-size: cover;
}
